textarea{
    width:500px;
    height:30vh;
    display: block;
    margin:1rem;
  
}
body{
  font-family: 'Lato','Sans Serif';
}
#output{
    border:1px solid black;
    width: 500px;
    margin:1rem;
    display: block;
    height: 30vh;
    padding: 1rem;
}
#img{
  width: auto;
    transition: max-width 1s min-width 1s;
    width:80px;
}
#btn-translate{
    background-color:yellow;
    width: 250px;
    height:5vh;
    padding:2rem;
    margin:1rem;
    display: block;
    font-family: 'Hachi Maru Pop', cursive;
    
}
#btn-translate:hover{
    background-color: sandybrown;
    font-family: 'Hachi Maru Pop', cursive;
}
.translation{
    align:center;
}
.nav {
    background-color:yellow;
    overflow: hidden;
    padding: 10px;
	  font-family: 'Hachi Maru Pop', cursive;
    margin:5px 0 10px 0;
    font-size: large;
    text-align: center;
    align-items: center;
    display: flex;
  }

  
  /* Change the color of links on hover */
 
  .footer{
    font-family: 'Hachi Maru Pop', cursive;
      background-color: yellow;
  }